* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Genshin";
  src: url(../font/GenShinGothic-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Genshin";
  src: url(../font/GenShinGothic-Normal.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "QuickSand";
  src: url(../font/Quicksand-Bold.otf);
  font-weight: 600;
}

body {
  font-family: "Genshin";
  color: #231300;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;

  position: fixed;
  background-color: white;
  z-index: 2;
}

.header-logo-wrap {
  width: 80px;
}

.header-logo-wrap img {
  width: 100%;
}

.header-nav-list {
  list-style: none;
}

.header-nav-list li {
  display: inline-block;
  margin: 0 2.5vw;
}

.header-nav-list a {
  text-decoration: none;
  color: #231300;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: "QuickSand";
}

.nav-window {
  display: none;
}

.header-sp-nav,
.header-sp-icon-wrap {
  display: none;
}

/* ヘッダーここまで */

.main-visual {
  width: 100%;
  height: calc(100vh - 80px);
  /* overflow: hidden; */

  padding-top: 80px;
  height: 100vh;

  position: relative;
  margin-bottom: 160px;
}

.main-visual-title {
  position: absolute;
  font-size: 32px;
  line-height: 2.5;
  top: 45%;
  left: 15%;
}

.main-visual-title span {
  background-color: white;
  padding: 2px;
}

.main-visual-img-wrap {
  width: 75%;
  height: 100%;
  float: right;
  margin-right: 3%;
}

.main-visual-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-visual-scroll {
  position: absolute;
  width: 30px;
  bottom: 20px;
  margin: auto;
  left: 0;
  right: 0;
}

.main-visual-scroll img {
  width: 100%;
}

.main-visual-scroll p {
  width: 100%;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  font-family: "QuickSand";
}

.catch-copy {
  width: 40%;
  max-width: 500px;
  margin: auto;

  margin-bottom: 160px;
}

.catch-copy-title {
  color: #82cbca;
  font-size: 32px;
  font-weight: 600;
  font-family: "QuickSand";

  margin-bottom: 40px;
}

.catch-copy-text {
  line-height: 2;
}

h2 {
  font-size: 40px;
  margin-bottom: 6px;
}

.what {
  background-color: #c3e6e6;

  padding: 100px 0;
}

.what-heading {
  font-family: "QuickSand";
  text-align: center;

  margin-bottom: 100px;
}

.what-heading p {
  font-size: 12px;
}

.what-list {
  width: 100%;
  max-width: 1040px;
  margin: auto;
  list-style: none;
}

.what-list li {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 80px;
}

.what-list-reverse {
  flex-direction: row-reverse;
}

.what-list-img-wrap {
  width: 30%;
}

.what-list-img-wrap img {
  width: 100%;
}

.what-list-caption {
  width: 40%;
}

.what-list-caption h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.what-list-caption p {
  font-size: 14px;
  margin-bottom: 30px;
}

.what-list-caption a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  border: solid 1px #231300;
  text-decoration: none;
  color: #231300;

  float: right;
}

/* .what-list-caption a:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(img/right.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
} */

.what-list-caption img {
  width: 7px;
  margin-left: 10px;
}

.member {
  padding-top: 100px;
}

.member-heading {
  font-family: "QuickSand";
  text-align: center;

  margin-bottom: 100px;
}

.member-heading p {
  font-size: 12px;
}

.member-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1040px;
  margin: auto;
  list-style: none;
  text-align: center;

  margin-bottom: 150px;
}

.member-list li {
  width: 150px;
}

.member-list img {
  width: 100%;

  margin-bottom: 20px;
}

.member-list-role {
  color: #82cbca;
  font-size: 12px;
  font-weight: 600;

  margin-bottom: 4px;
}

.member-list-name {
  font-size: 14px;
}

.br-sp {
  display: none;
}

.member-message {
  font-size: 16px;
  color: #82cbca;
  text-align: center;
  line-height: 2;

  margin-bottom: 150px;
}

footer {
  background-color: #ecded5;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;

  position: relative;
}

.scroll-top {
  width: 60px;
  text-decoration: none;
  color: #231300;
}

.scroll-top img {
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 4px;
}

.scroll-top p {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
}

.copyright {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 480px) {
  header {
    height: 60px;
  }

  .header-nav-list {
    display: none;
  }

  .header-sp-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  .header-sp-nav-list {
    width: 60%;
    margin: auto;
    list-style: none;
  }

  .header-sp-nav-list li {
    margin-bottom: 60px;
    position: relative;
  }

  .header-sp-nav-list a {
    font-family: "QuickSand";
    font-size: 20px;
    color: #231300;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-sp-nav-list img {
    width: 7px;
  }

  .header-sp-nav-img-wrap {
    width: 100px;
    margin: 15vh auto 10vh;
  }

  .header-sp-nav-img-wrap img {
    width: 100%;
  }

  .header-sp-icon-wrap {
    width: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
  }

  .header-sp-icon-bar1,
  .header-sp-icon-bar2,
  .header-sp-icon-bar3 {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #231300;
    border-radius: 5px;

    transform-origin: left;
    transition: all 0.3s ease-out;
  }

  .is-open .header-sp-icon-bar1 {
    transform: rotateZ(45deg);
  }
  .is-open .header-sp-icon-bar2 {
    transform: scale(0);
  }
  .is-open .header-sp-icon-bar3 {
    transform: rotateZ(-45deg);
  }

  .header-logo-wrap {
    width: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .main-visual {
    height: 400px;
    padding-top: 60px;
    margin-bottom: 80px;
  }

  .main-visual-title {
    top: 60%;
    font-size: 20px;
    left: 6%;
  }

  .main-visual-img-wrap {
    width: 100%;
    float: none;
    margin: 0;
  }

  .main-visual-scroll {
    display: none;
  }

  .catch-copy {
    width: 80%;
    margin-bottom: 80px;
  }

  .catch-copy-title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .catch-copy-text {
    font-size: 12px;
  }

  .what {
    padding-top: 80px;
    padding-bottom: 10px;
  }

  .what-heading {
    margin-bottom: 60px;
  }

  .what-list li {
    flex-direction: column;
  }

  .what-list-img-wrap {
    width: 200px;
    margin-bottom: 40px;
  }

  .what-list-caption {
    width: 80%;
  }

  .what-list-caption h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .what-list-caption p {
    font-size: 12px;
  }

  .what-list-caption a {
    font-size: 10px;
    font-weight: 400;
    padding: 12px 0;
  }

  .what-list-caption img {
    width: 7px;
  }

  .member {
    padding-top: 80px;
  }

  .member-heading {
    margin-bottom: 60px;
  }

  .member-list {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .member-list li {
    width: 100px;
    margin: 0 20px 40px;
  }

  .br-sp {
    display: block;
  }

  .member-message {
    font-size: 12px;
    margin-bottom: 60px;
  }

  footer {
    height: 80px;
  }

  .copyright {
    font-size: 10px;
  }

  .scroll-top img {
    width: 20%;
  }

  .scroll-top p {
    font-size: 8px;
  }
}
